<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/swiper-4.1.6.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	</head>
	<script type="text/javascript">
		
	</script>
	<body>
		<div class="mui-content">
			<div class="mui-scroll-wrapper big-wrapper">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->
					<main-banner></main-banner>
					<film-box v-for="type in types" :type='type.type' :url="type.url"></film-box>
					
					
				</div>
			</div>
			
		</div>
		
		<template id="film-box">
			<section class="film-box">
				<header>
					<h2>{{type}}</h2>
					<a>更多</a>
				</header>			
				<div ref='box' class="film-content mui-scroll-wrapper">
					<!--<ul :style="{width:(130*6+30)+'px'}" class="mui-scroll">
						<li v-for="x in 6" :key="x" class="film-item">
							<div class="img-box img-bg-loading">
								<img width="100%" src="http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2514293556.webp"/>
							</div>
							<h3>厉害了我的国</h3>
							<div class="star">
								
								<i  class="mui-icon mui-icon-star-filled"></i>
								<i  class="mui-icon mui-icon-star-filled"></i>
								<i  class="mui-icon mui-icon-star-filled"></i>
								<i  class="mui-icon mui-icon-star"></i>
								<i  class="mui-icon mui-icon-star"></i>
								<span>6.5</span>
							</div>
						</li>
					</ul>-->
					<ul :style="{width:(130*films.length+30)+'px'}" class="mui-scroll">
						<li @click="goToDetail(film.id)" :data-id="film.id" v-for="film in films" :key="film.id" class="film-item">
							<div class="img-box img-bg-loading">
								<img width="100%" :src="film.images.small"/>
							</div>
							<h3>{{film.title}}</h3>
							<div class="star">
								
								<i v-for="x in getStars(film.rating.stars)" :key="x" class="mui-icon mui-icon-star-filled"></i>
								<i v-for="y in (5-getStars(film.rating.stars))" :key="y" class="mui-icon mui-icon-star"></i>
								<span>{{film.rating.average}}</span>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</template>
		<template id="banner">
			<div class="swiper-container banner">
				<div class="swiper-wrapper">
					<!--<div class="swiper-slide  img-bg-loading" >
						123
					</div>-->
					<div class="swiper-slide  img-bg-loading" v-for="billboard in billboards" :key="billboard.id">
						<img width="100%" :src="billboard.imageUrl" alt="" />
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</template>
	</body>
	<script src="../js/zepto_1.1.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/swiper-4.1.6.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.min.js"></script>
	<script>
		Vue.component('film-box',{
			template:"#film-box",
			props:['type','url'],
			data:function  () {
				return {films:[]}
			},
			methods:{
				getFilms:function  () {
					let that = this
					mui.ajax({
						url:'http://api.douban.com/v2/movie/'+this.url,
						data:{count:6},
						success:function(data){
//							that.billboards = data.data.billboards
							that.films = data.subjects
						},
					})
				},
				getStars:function  (stars) {
					return Math.floor(stars/10)
				},
				goToDetail:goToDetail
			},
			created:function(){
				this.getFilms()	

					
			},
			updated:function  () {0
//			mounted:function  () {
				console.log(123)
				mui(this.$refs.box).scroll({
					 deceleration: 0.0005, //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					 bounce: true, //是否启用回弹
					 indicators: false,
					 scrollX:true,
					 scrollY:false
				});
			}
		
		})
		
		Vue.component('main-banner',{
			template:'#banner',
			data:function () {
				return {
					billboards:[]
				}
			},
			methods:{
				getBanners:function  () {
//					https://m.maizuo.com/v4/api/billboard/home?__t=1521769283063
					var that = this
					mui.ajax('https://m.maizuo.com/v4/api/billboard/home',{
						data:{
							__t:new Date().getTime()
						},
						dataType:'json',//服务器返回json格式数据
						timeout:10000,//超时时间设置为10秒；
						headers:{'Content-Type':'application/json'},	              
						success:function(data){
							that.billboards = data.data.billboards
						},
						error:function(xhr,type,errorThrown){
							//异常处理；
							console.log(type);
						}
					});
				}
			},
			created:function  () {
				this.getBanners()
			},
			updated:function () {
				new Swiper('.banner',{
					pagination:{el:'.swiper-pagination'}
				})
				
			}
		})
		
		new Vue({
			el:'.mui-content',
			data:{
				types:[
					{type:'正在热映',url:'in_theaters'},
					{type:'即将上映',url:'coming_soon'},
					{type:'Top250',url:'top250'}
				]
			},
			mounted:function  () {
				mui('.big-wrapper').scroll({
					deceleration: 0.0005, //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					bounce: true, //是否启用回弹
					 indicators: false
				});
				
			}
		})
		
	</script>
	
</html>